<% if @date == @date_today %>
<h1>Happy birthday <%= @name %><h1>
<% else %>
<h1>Looks like your birthday is not for another <%= @diff_date.numerator %> days <%= @name %><h1>
<% end %>

<form action="/birthdayanswer">
</form>