<h1>Good morning!<h1>
<h2>What is your name?<h2>

</form action="/birthdayanswer" method="post">
<input type="text" name="name">
</form>

<h2>What is your birthday?<h2>

<form action="/birthdayanswer" method="post">
<input type="date" name="date">
<input type="submit" value="Submit">
</form>