<form action="/birthdayanswer" method="post">
  <font size="6">Good morning!<br>What is your name?<br></font>
  <input type="text" name="name">
  <br>
  <font size="6">When is your birthday?<br></font>
  <input type="date" name="date">
  <br><br>
  <input type="submit" value="Submit">
</form>